<div class="container">
    <div ng-show="classDetailCtrl.isNewClass">
        <div class="panel panel-primary">
            <div class="panel-heading">Add Class</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <label>Name</label>
                        <input class="form-control" ng-model="classDetailCtrl.newClass.name">
                    </div>
                    <div class="col-md-6">
                        <label>Teacher</label>
                        <select ng-model="classDetailCtrl.newClass.teacherId" class="form-control">
                            <option value="" disabled selected>-- Select a teacher --</option>
                            <option ng-repeat="teacher in classDetailCtrl.teachers" ng-value="teacher.teacherId">{{teacher.name}}</option>
                        </select>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-6">
                        <label>Start Date</label>
                        <input class="form-control" type="date" ng-model="classDetailCtrl.currentClass.startDate">
                    </div>
                    <div class="col-md-6">
                        <label>End Date</label>
                        <input class="form-control" type="date" ng-model="classDetailCtrl.currentClass.endDate">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-10">
                        <label>Description</label>
                        <input class="form-control" ng-model="classDetailCtrl.newClass.description">
                    </div>
                    <div class="col-md-2">
                        <label>Is this a night class?</label>
                        <select class="form-control" ng-model="classDetailCtrl.newClass.isNightClass">
                            <option value="" disabled selected>True or False?</option>
                            <option>True</option>
                            <option>False</option>
                        </select>
                    </div>
                </div>
                <br>
                <button ui-sref="class.grid" ng-click="classDetailCtrl.createClass(classDetailCtrl.newClass)" type="button" class="btn btn-primary pull-right"><span class="glyphicon glyphicon-plus-sign"></span> Add Class</button>
            </div>
        </div>
    </div>
    <div ng-hide="classDetailCtrl.isNewClass">
        <div class="panel panel-primary">
            <div class="panel-heading">Edit Class</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <label>Name</label>
                        <input class="form-control" ng-model="classDetailCtrl.currentClass.name">
                    </div>
                    <div class="col-md-6">
                        <label>Teacher</label>
                        <select ng-model="classDetailCtrl.currentClass.teacherId" class="form-control">
                            <option value="" disabled selected>-- Select a teacher --</option>
                            <option ng-repeat="teacher in classDetailCtrl.teachers" ng-value="teacher.teacherId">{{teacher.name}}</option>
                        </select>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-6">
                        <label>Start Date</label>
                        <input class="form-control" type="date" ng-model="classDetailCtrl.currentClass.startDate">
                    </div>
                    <div class="col-md-6">
                        <label>End Date</label>
                        <input class="form-control" type="date" ng-model="classDetailCtrl.currentClass.endDate">
                    </div>
                </div>
                <br>
                <button ui-sref="class.grid" type="button" class="btn btn-primary pull-right" ng-click="classDetailCtrl.updateClass(classDetailCtrl.classId, classDetailCtrl.currentClass)"><span class="glyphicon glyphicon-floppy-disk"></span> Save</button>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">Students</div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Telephone</th>
                                <th>Classes</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="student in classDetailCtrl.currentClass.students">
                                <td ui-sref="student.detail({id:{{student.studentId}}})">{{student.name}}</td>
                                <td ui-sref="student.detail({id:{{student.studentId}}})">{{student.email}}</td>
                                <td ui-sref="student.detail({id:{{student.studentId}}})">{{student.telephone}}</td>
                                <td ui-sref="student.detail({id:{{student.studentId}}})">{{student.classes}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
