<div class="container">
	<button ui-sref="class.detail" type="button" class="btn btn-primary pull-right"><span class="glyphicon glyphicon-plus-sign"></span> Add Class</button>
	<br>
	<br>
	<div class="table-responsive">
	  <table class="table">
	    <thead>
	      <tr>
	        <th>Name</th>
	        <th>Teacher</th>
	        <th>Start Date</th>
	        <th>End Date</th>
	        <th>Students</th>
	        <th></th>
	      </tr>
	    </thead>
	    <tbody>
      		<tr ng-repeat="class in classGridCtrl.classes">
		        <td ui-sref="class.detail({id:{{class.classId}}})">{{class.name}}</td>
		        <td ui-sref="class.detail({id:{{class.classId}}})">{{class.teacher}}</td>
		        <td ui-sref="class.detail({id:{{class.classId}}})">{{class.startDate | date}}</td>
		        <td ui-sref="class.detail({id:{{class.classId}}})">{{class.endDate | date}}</td>
		        <td ui-sref="class.detail({id:{{class.classId}}})">{{class.students}}</td>
		        <td class="pull-right">
			        <button ui-sref="class.detail({id:{{class.classId}}})" class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span></button>
			        &nbsp;&nbsp;&nbsp;
			        <button class="btn btn-danger" ng-click="classGridCtrl.removeClass(class)"><span class="glyphicon glyphicon-remove"></span></button>
				</td>
    		</tr>
    	</tbody>	  	
	  </table>
	</div>
</div>

