<div class="container">
	<button ui-sref="student.detail" type="button" class="btn btn-primary pull-right"><span class="glyphicon glyphicon-plus-sign"></span> Add Student</button>
	<br>
	<br>
	<div class="table-responsive">
	  <table class="table">
	    <thead>
	      <tr>
	        <th>Name</th>
	        <th>Email</th>
	        <th>Telephone</th>
	        <th>Classes</th>
	        <th></th>
	      </tr>
	    </thead>
	    <tbody>
      		<tr ng-repeat="student in studentGridCtrl.students">
		        <td ui-sref="student.detail({id:{{student.studentId}}})">{{student.name}}</td>
		        <td ui-sref="student.detail({id:{{student.studentId}}})">{{student.emailAddress}}</td>
		        <td ui-sref="student.detail({id:{{student.studentId}}})">{{student.telephone}}</td>
		        <td ui-sref="student.detail({id:{{student.studentId}}})">{{student.classes}}</td>
		        <td class="pull-right">
			        <button ui-sref="student.detail({id:{{student.studentId}}})" class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span></button>
			        &nbsp;&nbsp;&nbsp;
			        <button class="btn btn-danger" ng-click="studentGridCtrl.removeStudent(student)"><span class="glyphicon glyphicon-remove"></span></button>
				</td>
    		</tr>
    	</tbody>	  	
	  </table>
	</div>
</div>